.search a {
    color: white;
    background-color: rgb(245, 8, 48);
    padding: 9px 15px;

    border-top: 2px black;
    border-radius: 5px;
    text-decoration: none;
}

.kl {
    background-color: rgb(237, 222, 225);
}

.search2 a {
    color: white;
    background-color: rgb(245, 8, 48);
    padding: 9px 15px;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
}
.search2 a:hover{
        
    background-color: white;
    text-decoration: none;
    color: rgb(243, 5, 45);

}

.jk {
    background-color: rgb(253, 230, 234);
}

a {
    text-decoration: none;
}
.search a{
    color: white;
    background-color: rgb(245, 8, 48);
    padding: 9px 15px;
    
    border-top: 2px black;
    border-radius: 5px;
    text-decoration: none;
    }
    .search a:hover{
        background-color: black;
        text-decoration: none;
    
    }